@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <!--this is a header-->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">

        <div class="info d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2 data-aos="fade-down">Exploring the Artistry of <span>Chinese Calligraphy</span></h2>
                        <p data-aos="fade-up">Join us on a journey into the mesmerizing world of Chinese calligraphy, where strokes of ink transform into artistry and expression. Dive into the intricate techniques and serene beauty of Chinese calligraphy, where every stroke whispers tales of tradition and elegance.</p>
                        <a data-aos="fade-up" data-aos-delay="200" href="#constructions" class="btn-get-started">Get Started</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

            <div class="carousel-item active" style="background-image: url(lib/bootstrap/dist/assets/img/hero-carousel/hero-carousel-1a.jpg)"></div>
            <div class="carousel-item" style="background-image: url(lib/bootstrap/dist/assets/img/hero-carousel/hero-carousel-2a.jpg)"></div>
            <div class="carousel-item" style="background-image: url(lib/bootstrap/dist/assets/img/hero-carousel/hero-carousel-3a.jpg)"></div>


            <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>

    </section><!-- End Hero Section -->




    <main id="main">

        <!-- ======= Constructions Section ======= -->

        <section id="constructions" class="constructions">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>My Work Showcase</h2>
                    <p>Chinese calligraphy is not just an art form; it's a timeless expression of culture, history, and philosophy. With each stroke of the brush, I immerse myself in centuries of tradition and craftsmanship, embracing the beauty and complexity of Chinese characters.</p>
                </div>

                <div class="row gy-4">

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(lib/bootstrap/dist/assets/img/constructions-1a.jpg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">夢 (Mèng - Dream)</h4>
                                        <p>Symbolizes the ethereal realm of dreams and aspirations. Represents the subconscious mind and the pursuit of inner desires. Invites us to explore the depths of our imagination and chase our dreams fearlessly.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(lib/bootstrap/dist/assets/img/constructions-2a.jpg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">尚 (Shàng - Esteem)</h4>
                                        <p>Signifies respect, admiration, and high regard for oneself and others. Encourages us to uphold noble virtues and honor traditions. Reminds us to value what is worthy and noble in life, both in ourselves and others.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(lib/bootstrap/dist/assets/img/constructions-3a.jpg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">月 (Yuè - Moon)</h4>
                                        <p>Represents the luminous beauty and mystery of the moon. Symbolizes change, cycles, and the passage of time. Inspires reflection, introspection, and emotional depth.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(lib/bootstrap/dist/assets/img/constructions-4a.jpg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">來 (Lái - Arrival)</h4>
                                        <p>Signifies the arrival of new opportunities, experiences, and beginnings. Represents the anticipation and excitement of what is yet to come. Invites us to welcome each new day with optimism, enthusiasm, and open arms.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                </div>

            </div>

            <div class="section-header">
                <br>
                <p>If you're interested in Chinese calligraphy and seeking tutoring, I'm here to help. I offer personalized tutoring services tailored to your skill level and learning goals. Let's embark on a journey of artistic discovery together!</p>
                <br>

                <a href="quote">
                    <button style="display: inline-block; outline: 0; cursor: pointer; border-radius: 6px; border: 2px solid #f6c112; color: #f6c112; background: 0 0; padding: 8px; box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px; font-weight: 800; font-size: 16px; height: 42px;" onmouseover="this.style.backgroundColor='#f6c112'; this.style.color='#fff';" onmouseout="this.style.backgroundColor='#fff'; this.style.color='#f6c112';">Get The Quote</button>
                </a>
            </div>



            </div>



        </section><!-- End Constructions Section -->



    </main><!-- End #main -->
